*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: poppins, sans-serif;
    scroll-behavior: smooth;
}

body
{
    background: #00000009;
}

.nav__bar
{
    background: #000;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 100px;
    box-shadow: 0 2px 5px #000;
    z-index: 5;
}

.nav__bar a.logo
{
    color: #fff;
    font-size: 1.5em;
    font-family: nt fabulous;
}

ul
{
  margin: 0 auto;
}

ul li
{
    display: inline-block;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 14px;
}

li:hover
{
    scale: 1.1;
}

ul li a
{
    color: #fff;
}

.icons__container
{
  position: relative;
  margin-left: auto;
}

.material-symbols-outlined  /* icons from Google fonts */
{
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: #fff;
  cursor: pointer;
  margin-top: 5px;
}

.nav__bar .icons
{
  padding: 10px;
}

.nav__bar input
{
  position: absolute;
  bottom: 7px;
  right: 7px;
  width: 30px;
  height: 30px;
  opacity: 0;
  cursor: pointer;
}

.share-icon__items
{
  position: absolute;
  top: 64px;
  right: 5px;
  width: 50px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 5px 5px #000;
  backdrop-filter: blur(2px);
  display: none;
  transition: .5s ease;
}

.icons__container .share-icon__items ul 
{
  margin:0;
}

.share-icon__items a:hover
{
  transform: scale(1.1);
}

input[type=checkbox]:checked ~ .share-icon__items
{ 
  display: flex;
}
/*----------------------- HAMBURGER MENU ----------------------------------*/

#toggle1
{
  position: absolute;
  top: 20px;
  right: 0;
  opacity: 0;
  width: 50px;
  height: 30px;
  display: none;
}

label 
{
  position: absolute; 
  right: 7px; 
  color: #fff; 
  font-size: 2.5em;
  cursor: pointer;
  display: none;
}

.hamburger-menu__items
{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 53px;
  right: 0;
  width: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: -3px 5px 10px #000;
  overflow: hidden;
  text-align: center;
  backdrop-filter: blur(5px);
}

.hamburger-menu__ul li
{
  margin: 10px 0;
  width: 100%;
  font-size: 1em;
  cursor: pointer;
}

.hamburger-menu__ul li a
{
  color: #fff; 
  width: 100%;
}

.hamburger-menu__ul li:hover a
{
  color: #fff;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hamburger-menu__items ul li:hover
{
  background: #00000065;
}

.hamburger-menu__icons
{
  margin-top: 30px;
}

.hamburger-menu__icons img
{
  margin: 10px;
  cursor: pointer;
}

.hamburger-menu__icons img:hover
{
  transform: translateY(-5px);
  transition: .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

input[type=checkbox]:checked ~ .hamburger-menu__items
{
  width: 300px;
  transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/*----------------------------- END OF HEADER -------------------------------------*/

section.yeet__article
{
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
    margin-bottom: 20px;
    width: 100%;
    max-height: 100vh;
}

section.yeet-article__img 
{
  width: 40%;
}

.img-scale__container
{
  /* height: 625px; */
  height: auto;
  width: 100%;
  overflow: hidden;
}

.img-scale__container img
{
  width: 100%;
}

.img-scale__container:hover
{
  box-shadow: 3px 3px 15px 1px black, 1px 1px 20px white;
  transition: 2s ease;
}

.img-scale__container:hover img
{
  scale: 1.05;
  transition: 2s ease;
}

section .yeet-article__text
{
    text-align: center;
    padding: 0 60px;
    overflow: hidden;
    width: 60%;
}

/* .yeet-article__text::before
{
    content: '';
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(30% at right 70%);
    z-index: -1;
} */

/* .yeet-article__text::after
{
    content: '';
    position: absolute;
    top: 55px;
    left: 500px;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(20% at 10% 10%);
    z-index: -1;
} */

.yeet-article__text .quote
{
  display: block;
  margin: 30px auto;
}

.yeet-article__text span
{
  display: block;
  margin-bottom: 30px;
  font-size: 2em;
  font-family: NT Fabulous, sans-serif;
}

.yeet-article__text p
{
  font-size: 1.2em;
  width: 90%;
  text-align: justify;
  margin: 0 auto;
  font-family: poppins;
}

.container 
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
}

.container div
{
    width: 200px;
    height: 300px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.container div:hover
{
    box-shadow: 0px 2px 5px  #000;
}

.container div:first-child
{
    background-image: url(img/golo.jpg);
    background-position: center;
    background-position-y: -60px;
    background-size: cover;
}

.container div:nth-child(2)
{
    background-image: url(img/black_panther.jpg);
    background-position: center;
    background-size: cover;
}

.container div:nth-child(3)
{
    background-image: url(img/lion.jpg);
    background-position: center;
    background-size: cover;
}

.container div:nth-child(4)
{
    background-image: url(img/thug_golo.jpg);
    background-position: center;
    background-position-y: -50px;
    background-size: cover;
}

.container h3
{
    padding: 30px 0;
    text-transform: uppercase;
    color: #fff;
    transform: translateY(200px);
    transition: .5s;
}

.container div:hover h3
{
    transform: translateY(0);
}

.container p
{
    padding: 5px 5px 50px 5px;
    text-align: center;
    color: #fff;
    backdrop-filter: blur(3px);
    transform: rotate(180deg) translateX(200px);
    transition: .5s;
}

.container div:hover p
{
    transform: rotate(0deg);
}

.container button
{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    background: linear-gradient(to top, #000000e0, rgba(255, 0, 0, 0.623));
    transform: translateY(110px);
    transition: .5s;
}

.container button a
{
  color: #fff;
}

.container button:hover
{
    box-shadow: 0 0 5px 1px pink;
}

.container div:hover button
{
    transform: translateY(0);
}

.terrain__ceely img
{
    width: 100%;
    height: 100%;
}

/*--------------------- CAROUSSEL ---------------------------*/

.carousel {
    /* height: 600px; */
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
    background: linear-gradient(to top, white, black);
  }
  
  main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 90vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
  }

  section input
  {
    height: 20px;
    width: 30px;
  }
  
  div.item {
    position: absolute;
    width: 300px;
    height: 400px;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
  }
  
  div.item:nth-of-type(1) {
    --offset: 1;
    background: url(img/golo.jpg);
    background-size: cover;
    background-position-y: -80px;
  }
  div.item:nth-of-type(2) {
    --offset: 2;
    background: url(img/black_panther.jpg);
    background-size: cover;
    background-position-y: -60px;
  }
  div.item:nth-of-type(3) {
    --offset: 3;
    background: url(img/thug_golo.jpg);
    background-size: cover;
    background-position-y: -60px;
  }
  div.item:nth-of-type(4) {
    --offset: 4;
    background: url(img/lion.jpg);
    background-size: cover;
  }
  div.item:nth-of-type(5) {
    --offset: 5;
    background: url(img/dunk_it.jpg);
    background-size: cover;
  }
  
  input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
  }
  
  input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
  }
  
  input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
  }
  input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
  }
  
  input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
  }
  input:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
  }
  
  input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
  }
  input:nth-of-type(5):checked ~ main#carousel {
    --position: 5;
  }
  
  /*--------------------- END OF CAROUSSEL ---------------------------*/

  footer
  {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 30px;
    font-family: jetBrain Mono, sans-serif;
    text-align: center;
  }

  footer p
  {
    margin: auto 0;
  }

/*-------------------------------- RESPONSIVE -----------------------------------*/

@media screen and (max-width: 1070px)
{
  .yeet-article__text p 
  {
    margin: 0;
    font-size: 17px;
    width: 100%;
  }
}

@media screen and (max-width: 947px)
{
  .nav__bar ul li 
  {
    padding: 10px 20px;
  }
  .yeet-article__text p 
  {
    font-size: 15px;
  }
  .yeet-article__text span 
  {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  .yeet-article__text .quote 
  {
    margin:  5px auto 0;
  }
}

@media screen and (max-width: 817px)
{
  .nav__bar ul li 
  {
    padding: 10px 10px;
  }
  section .yeet-article__text 
  {
    padding: 0 10px;
  }
}

@media screen and (max-width: 750px)
{
  .nav__bar ul,
  .icons__container 
  {
    display: none;
  }
  .nav__bar
  {
    justify-content: flex-start;
  }
  nav.nav__bar label, 
  nav.nav__bar input#toggle1,
  .hamburger-menu__items ul.hamburger-menu__ul
  {
    display: block;
  }
}

@media screen and (max-width: 693px)
{
  .yeet-article__text .quote 
  {
    width: 75px;
  }
  .yeet-article__text span 
  {
    font-size: 1.2em;
  }
  .yeet-article__text p 
  {
    font-size: 14px;
  }
}

@media screen and (max-width: 665px)
{
  section.yeet__article
  {
    flex-direction: column;
    height: auto;
  }
  section .yeet-article__text
  {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .yeet-article__text p 
  {
    text-align: center;
    font-size: 15px;
  }

  .yeet-article__img
  {
    width: 60%;
  }
  .yeet-article__img img
  {
    width: 100%;
  }
  .yeet-article__text .quote
  {
    width: 100px;
  }
  .yeet-article__text span 
  {
    font-size: 2em;
  }
  .yeet-article__text .quote
  {
    position: absolute;
    top: 200px;
    right: 80px;
    width: 70px;
  }
  .yeet-article__text span
  {
    position: absolute;
    top: 280px;
    right: 0;
  }
}